<div class="row">
	<table ng-show="channels_and_keys.length" class="table table-striped table-bordered" data-no-turbolink>
      <thead>
        <tr>
          <th>Channel</th>
          <th>Field</th>
          <th>Key</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
          <tr ng-repeat="ck in channels_and_keys">
            <td>
            <span>{{ck.channel.name}}</span>
				<!--<span ng-hide="show[$index]">{{ck.channel.name}}</span>
				<input type="text" ng-show="show[$index]" class="form-control" ng-model="ck.channel.name" aria-label="...">--> 
            </td>
            <td>
            <span>{{ck.field}}</span>
            </td>
            <td>
            	<span ng-hide="show[$index]">{{ck.key}}</span>
            	<input type="text" ng-show="show[$index]" class="form-control" ng-model="ck.key" aria-label="...">
            </td>
            <td>
            	<a ng-hide="show[$index]" href="" ng-click="editApiKey($index)"><i ng-hide="green[$index] || show[$index]" class="fa fa-pencil"></i></a>
            	<a ng-show="show[$index] || green[$index]" href="" ng-click="editApiKey($index)" ><i ng-class="{'green-check': green[$index]}"class="fa fa-check"></i></a>
            </td>
            <td>
            	<a href="" ng-hide="rm[$index]" ng-click="remove($index)"><i class="fa fa-trash"></i></a>
            	<a href="" ng-show="rm[$index]" ng-click="removeApiKey($index)"><i class="green-check fa fa-check"></i></a>
              <span ng-show="rm[$index]"><small>Are you sure ?</small></span>
              <a href="" ng-show="rm[$index]" ng-click="remove($index)"><i class="red-rm fa fa-times"></i></a>
            </td>
          </tr>
      </tbody>
      <div id="errors-message" ng-show="errors">
          <i class="fa fa-exclamation-triangle btn-add-api"></i>
          {{errorMessage}}
      </div>
    </table>
</div>