<div class="row body-config">
  <ul class="nav nav-tabs">
    <li role="presentation" ng-class="{'active': current_channel == 1}"><a ng-click="current(1)" href="">Channel 1</a></li>
    <li role="presentation" ng-class="{'active': current_channel == 2}"><a ng-click="current(2)" href="">Channel 2</a></li>
    <li role="presentation" ng-class="{'active': current_channel == 3}"><a ng-click="current(3)" href="">Channel 3</a></li>
  </ul>
  <br>

  <div id="errors-message" ng-show="errors">
      <i class="fa fa-exclamation-triangle btn-add-api"></i>
      {{errorMessage}}
  </div>
  <div id="success-message" ng-show="success">
      <i class="fa fa-thumbs-up btn-add-api"></i>
      {{successMessage}}
  </div>
  <form class="bs-example bs-example-form" role="form">
  	<div ng-repeat="k in count">
        <div class="input-group">
           <input type="text" class="form-control" ng-disabled="disabled[$index]" ng-model="keys[$index]" placeholder="Field {{$index+1}} key">
           <span ng-hide="disabled[$index]" class="input-group-addon"><a href="" ng-click="newchannel($index+1, keys[$index])"><i class="fa fa-check"></i></a></span>
           <span ng-show="disabled[$index]" class="input-group-addon"><a href="" ng-click="remove(keys[$index])"><i class="red-rm fa fa-times"></i></a></span>
        </div>
        <br>
    </div>
  </form>
  
	<div class="form-group">
        <div class="col-sm-8"><p class="form-control-static">
			<div class='btn btn-lg btn-custom btn-block'>
				<input type="button" value="Valider" ng-click="../pages/index"/>
			</div>
		</p></div>
	</div>
	
	
  
</div>